@import "reset";

.wrap {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  background: white;
}
div.box2 {
    position: absolute;
    left: 220px;
    top: 100px;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
div.box1 {
  position: absolute;
  left: 40px;
  top: 100px;
}
div.box1:hover + div.box2 {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    left: calc(100% - 102px);
  }
img {
  height: 200px;
  width: 200px;
}


